/* .slick-prev,
.slick-next {
  font-size: 24px;
  color: white;
} */

.slick-prev {
  left: 20px;
}

.slick-next {
  right: 20px;
}

.slick-slider {
  width: 80%; /* Adjust the width of the slider container */
  margin: 0 auto; /* Center the slider */
}

.slick-slide img {
  max-width: 100%; /* Set maximum width to 100% of the container */
  height: auto; /* Maintain aspect ratio */
  max-height: 300px; /* Set maximum height as needed */
  margin: 0 auto; /* Center the image within the slide */
}
